*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px; */
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

.main-container{
    padding: 25px 15px;
    /* width: 80%; */
    /* height: 650px; */
    border: 2px solid red;
}

.column-1{
    background-image: url('images/image-product-mobile.jpg');
    height: 300px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-bottom: 30px;
    /* border: 3px dotted green; */
   
    /* padding: 15px; */
}
.column-2{
    /* border: 2px solid;
    /* height: 350px; */
    padding: 25px; 

}



@media (min-width:375px){
   .main-container{
    display: flex;
    /* width: 50%; */
   }
   .column-1{
    background-image: url('images/image-product-desktop.jpg');
    flex-basis: 50%;
    background-repeat: no-repeat;
   
    background-size: cover;
    

   }
   .column-2{
    flex-basis: 50%;
   }

}